.formLandingForm {
  background-color: var(--bg-color);
}
.selectContainer {
  position: relative;
}
.inputContainer {
  position: relative;
  margin-bottom: 16px;
}
.formLandingSelect {
  margin: 0 auto 12px auto;
  padding: 10px 12px 10px 46px;
  outline: none;
  border: 1px solid var(--input-def);
  border-radius: 8px;
  font-size: 14px;
  font-weight: 400;
  text-align: left;
  letter-spacing: 0;
  color: var(--text-color-dark);
  cursor: pointer;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
}
.selectContainer:focus-within .formLandingSelect {
  border: 1px solid var(--accent-color-dark);
}
.focused {
  border: 1px solid var(--accent-color-dark);
}
.optionValues {
  position: absolute;
  left: 0;
  bottom: -64px;
  z-index: 10;
  background-color: var(--bg-color);
  width: 100%;
  box-shadow: 0px 4px 6px -2px rgba(16, 24, 40, 0.03),
    0px 8px 14px -4px rgba(16, 24, 40, 0.05);
  font-size: 14px;
  font-weight: 400;
  line-height: 14px;
  text-align: left;
  letter-spacing: 0;
  color: var(--text-color-dark);
  padding: 8px 4px;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  gap: 4px;
}
.option {
  padding: 4px 12px 4px 12px;
  cursor: pointer;
}
.option:hover {
  background: var(--bg-color-list);
}
.option:hover::after {
  content: "✔";
  position: absolute;
  right: 8px;
  color: var(--accent-color-dark);
}

.option.selected::after {
  content: "✔";
  position: absolute;
  right: 8px;
  color: var(--accent-color-dark);
}
.formLandingInput {
  display: block;
  width: 100%;
  max-width: 284px;
  padding: 10px 12px 10px 46px;
  outline: none;
  border: 1px solid var(--input-def);
  border-radius: 8px;
  font-size: 14px;
  font-weight: 400;
  text-align: left;
  color: var(--text-color-dark) !important;
}
.formLandingInput:focus {
  border: 1px solid var(--accent-color-dark);
}

.formLandingInput::placeholder {
  color: var(--input-placeholder);
  font-size: 14px;
  font-weight: 400;
  line-height: 22.4px;
  letter-spacing: 1.4;
}
.icon {
  position: absolute;
  top: 10px;
  left: 12px;
}
.icon:hover {
  cursor: pointer;
}
.iconArrow {
  width: 24px;
  height: 24px;
  position: absolute;
  top: 10px;
  right: 12px;
  stroke: var(--text-color-dark);
}
.iconArrow:hover {
  cursor: pointer;
}
.button {
  width: 100%;
  padding: 11px 73px;
  border: none;
  border-radius: 8px;
  background-color: var(--accent-color-dark);
  font-size: 16px;
  font-weight: 400;
  line-height: 22.4px;
  text-align: left;
  color: var(--text-color-white);
  display: block;
  margin: 0 auto;
  transition: background-color 0.3s ease;
}
.button:hover {
  background-color: var(--button-hover);
  cursor: pointer;
}
.error {
  position: absolute;
  bottom: -20px;
  font-size: 14px;
  font-weight: 400;
  line-height: 22.4px;
  text-align: left;
  color: var(--error-color);
  margin: 0 0 1px 10px;
}
.wideFieldsSelect {
  font-size: 14px;
}
.wideFieldsInput {
  font-size: 14px;
  width: 214px;
}
.wideFieldsButton {
  width: 272px;
  padding: 11px 49px;
}

@media screen and (min-width: 1440px) {
  .formLandingForm {
    display: flex;
    align-items: center;
    gap: 12px;
  }
  .inputContainer {
    margin-bottom: 0;
  }
  .formLandingSelect {
    width: 220px;
    margin: 0;
    font-size: 16px;
  }
  .optionValues {
    bottom: -114px;
    width: 272px;
    font-size: 16px;
  }
  .option {
    padding: 16px 12.5px 8px 12.5px;
  }
  .formLandingInput {
    width: 219px;
    padding: 11px 0 11px 46px;
    margin: 0;
    font-size: 16px;
  }
  .formLandingInput::placeholder {
    font-size: 16px;
  }
  .button {
    width: 221px;
    padding: 11px 24px;
    margin: 0;
  }
}
