.formLandingContainer {
  padding: 44px 16px;
  background-color: var(--bg-color);
  position: relative;
  width: 100%;
}
.formLandingTitle {
  font-size: 20px;
  font-weight: 600;
  line-height: 28px;
  text-align: left;
  color: var(--text-color-dark);
  text-transform: uppercase;
  margin-bottom: 24px;
}
.formLandingTitleEmail {
  font-size: 20px;
  font-weight: 700;
  line-height: 28px;
  color: var(--text-color-dark);
  text-transform: uppercase;
}
.transfer {
  display: none;
}
.iconArrow {
  display: none;
}
.formLanding {
  margin: 0 auto;
  max-width: 460px;
}

@media screen and (min-width: 458px) {
  .formLandingTitle {
    text-align: center;
  }
}
@media screen and (min-width: 768px) {
  .formLandingTitle {
    text-align: center;
  }
  .transfer {
    display: block;
  }
}

@media screen and (min-width: 1440px) {
  .formLandingContainer {
    padding: 44px 296px 102px 304px;
  }
  .formLandingTitle {
    width: 533px;
    font-size: 28px;
    font-weight: 500;
    line-height: 39.2px;
    margin: 0 auto 32px auto;
  }
  .formLanding {
    width: 792px;
    min-width: none;
    margin-left: 0;
  }
  .formLandingTitleEmail {
    font-size: 28px;
    font-weight: 600;
    line-height: 39.2px;
  }
  .iconArrow {
    display: block;
    stroke: var(--text-color-dark);
    position: absolute;
    right: 228px;
    top: 115px;
  }
  .heroForm {
    padding: 16px 24px;
    width: 792px;
    margin-left: 0;
    margin-right: 0;
  }
}
