.headerContainer {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  margin: 0 auto;
  width: 100%;
  max-width: 768px;
  padding: 16px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--bg-color);
  z-index: 999;
  border-bottom: 1px solid var(--header-border);
}
.headerBorder {
  border-color: var(--bg-color);
}
.icon {
  fill: var(--accent-color-dark);
  stroke: var(--accent-color-dark);
}
.buttonMenu {
  background-color: transparent;
  border: none;
  cursor: pointer;
  transition: stroke 0.3s ease;
  stroke: var(--accent-color-dark);
}
.buttonMenu:hover .iconBurger {
  stroke: var(--accent-color-light);
}
.navigationList {
  display: none;
}
.iconClose {
  stroke: var(--accent-color-dark);
  transition: stroke 0.3s ease;
}
.buttonMenu:hover .iconClose {
  stroke: var(--accent-color-light);
}

@media screen and (min-width: 1440px) {
  .headerContainer {
    width: 1296px;
    max-width: 1296px;
    padding: 32px 72px;
  }
  .icon {
    width: 196px;
    height: 38px;
  }
  .buttonMenu {
    display: none;
  }
  .navigationList {
    display: flex;
    gap: 72px;
  }
  .navListItem {
    font-size: 16px;
    color: var(--text-color-dark);
    font-weight: 600;
    line-height: 22px;
    cursor: pointer;
    transition: color 0.3s ease;
  }
  .navListItem:hover {
    color: var(--accent-color-dark);
  }
}
