.footerWrapper {
  background-color: var(--accent-color-dark);
  padding: 40px 84px 16px 84px;
  border-radius: 24px 24px 0 0;
}
.footerContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.icon {
  width: 112px;
  height: 19px;
  fill: var(--text-color-white);
  stroke: var(--text-color-white);
  margin-bottom: 30px;
}
.textForLogo {
  display: none;
}
.footerNavList {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 12px;
  padding: 0;
  margin-bottom: 48px;
}
.footerNavListLink {
  font-size: 14px;
  font-weight: 500;
  line-height: 16.8px;
  text-align: center;
  color: var(--text-color-white);
  text-decoration: none;
  transition: color 0.3s ease;
}
.footerNavListLink:hover {
  color: var(--accent-color-light);
  cursor: pointer;
}
.footerImgWrapper {
  position: relative;
  width: 65px;
  height: 59px;
}
.imgFish {
  position: relative;
  width: 61px;
  height: 59px;
  display: block;
  margin: 0 auto;
  z-index: 2;
}
.footerDecor {
  width: 64px;
  height: 16px;
  position: absolute;
  bottom: 6px;
  right: 0px;
  transform: rotate(-2deg);
}
.footerCopyright {
  margin-top: 8px;
  font-size: 12px;
  font-weight: 500;
  line-height: 1.4;
  text-align: center;
  color: var(--text-color-white);
  opacity: 60%;
}

@media screen and (min-width: 768px) {
  .footerImgWrapper {
    margin-bottom: -30px;
    width: 112px;
    height: 100px;
  }
  .imgFish {
    width: 108px;
    height: 100px;
  }
  .footerDecor {
    width: 112px;
    height: 37.03px;
    bottom: 5px;
    right: 2px;
  }
  .footerDecor {
    width: 112px;
    height: 37px;
  }
  .footerNavList {
    flex-grow: 1;
  }
  .footerContainer {
    flex-direction: row;
    align-items: start;
    gap: 100px;
  }
}

@media screen and (min-width: 1440px) {
  .footerWrapper {
    padding: 102px 73px 0 73px;
    border-radius: 40px 40px 0 0;
    width: 1296px;
    padding: 10px 62px 13px 40px;
    margin: 0 auto;
  }
  .footerContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 203px;
  }
  .icon {
    width: 148px;
    height: 25px;
    margin-bottom: 8px;
  }
  .textForLogo {
    display: inline-block;
    font-size: 10px;
    font-weight: 400;
    line-height: 14px;
    letter-spacing: 0.04em;
    text-align: left;
    color: var(--text-color-white);
  }
  .footerNavList {
    flex-direction: row;
    align-items: start;
    gap: 72px;
    margin: 0;
  }
  .footerNavListLink {
    font-size: 16px;
    line-height: 22.4px;
    text-align: left;
  }
  .footerImgWrapper {
    margin-bottom: -30px;
    width: 148px;
    height: 136px;
  }
  .imgFish {
    width: 140px;
    height: 136px;
  }
  .footerDecor {
    width: 148.59px;
    height: 37.03px;
    bottom: 15px;
    right: 2px;
  }
  .footerDecor {
    width: 148px;
    height: 37px;
  }
  .footerLogo {
    width: 196px;
  }
  .footerTextBreak {
    display: none;
  }
  .footerCopyright {
    margin-top: 0;
  }
}
