.appointmentContainer {
  width: 343px;
  padding: 44px 16px 60px 16px;
}
.appointmentPicture {
  display: none;
}
.appointmentListWrapper {
  position: relative;
  padding: 40px 8px 40px 24px;
  background-color: var(--accent-color-dark);
  border-radius: 20px;
}
.appointmentTitle {
  font-size: 24px;
  font-weight: 600;
  line-height: 31.2px;
  text-align: left;
  text-transform: uppercase;
  color: var(--text-color-white);
  margin-bottom: 32px;
}
.appointmentList {
  display: flex;
  flex-direction: column;
  gap: 24px;
}
.appointmentListItem {
  display: flex;
  align-items: start;
  gap: 16px;
}
.number {
  width: 28px;
  height: 44px;
  font-size: 48px;
  font-weight: 500;
  line-height: 57.6px;
  text-align: center;
  color: var(--accent-color-light);
}
.title {
  font-size: 18px;
  font-weight: 500;
  line-height: 25.2px;
  text-align: left;
  color: var(--text-color-white);
  margin-bottom: 4px;
}
.widthText1 {
  width: 230px;
}
.widthText2 {
  width: 240px;
}
.text {
  font-size: 14px;
  font-weight: 400;
  line-height: 19.6px;
  text-align: left;
  color: var(--text-color-white);
}
.textLast {
  width: 200px;
  font-size: 14px;
  font-weight: 400;
  line-height: 19.6px;
  text-align: left;
  color: var(--text-color-white);
}
.appointmentCat {
  position: absolute;
  width: 98px;
  height: 136px;
  right: -5px;
  bottom: -70px;
}
.appointmentVector {
  display: none;
}
@media screen and (min-width: 1440px) {
  .appointmentContainer {
    width: 1296px;
    padding: 102px 72px 100px 72px;
    display: flex;
    align-items: start;
    gap: 24px;
  }
  .appointmentPicture {
    width: 526px;
    height: 728px;
    display: inline-flex;
    border-radius: 40px;
  }
  .appointmentImg {
    width: 526px;
    height: 728px;
    border-radius: 40px;
    object-fit: cover;
  }
  .appointmentListWrapper {
    padding: 104px 174px 104px 72px;
    border-radius: 40px;
  }
  .appointmentTitle {
    font-weight: 600;
    font-size: 40px;
    line-height: 1.4;
    letter-spacing: 0;
    text-transform: uppercase;
    margin-bottom: 48px;
  }
  .appointmentList {
    gap: 32px;
  }
  .appointmentListItem {
    gap: 24px;
  }
  .number {
    padding-top: 12px;
    width: 30px;
    height: 60px;
    font-size: 50px;
    line-height: 60px;
    text-align: left;
  }
  .title {
    font-size: 24px;
    font-weight: 500;
    line-height: 1.4;
    letter-spacing: 0;
    margin-bottom: 8px;
  }
  .text {
    font-size: 16px;
    font-weight: 500;
    line-height: 1.4;
    letter-spacing: 0;
  }
  .widthText1 {
    width: auto;
  }
  .widthText2 {
    width: auto;
  }
  .textLast {
    width: 446px;
    font-size: 16px;
    font-weight: 500;
    line-height: 18px;
    letter-spacing: 0;
  }
  .appointmentCat {
    width: 230px;
    height: 321px;
    right: -19px;
    bottom: 20px;
    z-index: 2;
  }
  .appointmentVector {
    display: block;
    position: absolute;
    right: -20px;
    bottom: 2px;
  }
  .break {
    display: none;
  }
}
